* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    background: rgba(72, 70, 74, 0.67);
    border-radius: 12px;
    max-width: 400px;
    width: 85%;
    height: 35vh;
    padding: 20px;
    color: #d9d9d9;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 8px 12px;
    gap: 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
    border-radius: 18px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    height: 56px;
}

.search i {
    color: #cdcdcd;
}

.input-city {
    width: 300px;
    height: 48px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    padding: 20px;
    outline: none;
    color: #d9d9d9;
}

.input-city::placeholder {
    font-size: 16px;
    color:#b0adadeb;
}

.weather-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    font-weight: 600;
    letter-spacing: 1px;
}

.weather-text {
    text-transform: capitalize;
}